spring:
  application:
    name: notification-service-test
  
  config:
    import: optional:configserver:
  
  cloud:
    config:
      enabled: false
  
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.mail.MailSenderAutoConfiguration
      - org.springframework.boot.actuate.autoconfigure.mail.MailHealthContributorAutoConfiguration
  
  mail:
    host: localhost
    port: 3025
    username: test@shopscale.com
    password: test
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false
  
  kafka:
    bootstrap-servers: ${spring.embedded.kafka.brokers}
    consumer:
      group-id: notification-service-test-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

server:
  port: 0

eureka:
  client:
    enabled: false

management:
  health:
    mail:
      enabled: false
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    root: INFO
    com.shopscale.notification: DEBUG
