spring:
  data:
    mongodb:
      uri: mongodb://shopscale:shopscale123@localhost:27017/productdb
  redis:
    host: localhost
    port: 6379
    password: shopscale123
    timeout: 2000ms
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0

server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  tracing:
    sampling:
      probability: 1.0

cache:
  ttl: 3600 # 1 hour in seconds

logging:
  level:
    com.shopscale: DEBUG

---
spring:
  config:
    activate:
      on-profile: docker
  data:
    mongodb:
      uri: mongodb://shopscale:shopscale123@mongodb:27017/productdb
  redis:
    host: redis

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/